<h1 style="font-family: Georgia, 'Times New Roman', Times, serif;" class="text-center m-5">Dashboard Amministrazione</h1>
<center>
    <div class="container text-center">
        <div class="row m-3">
            <div class="col-sm-4">
                <div class="card" style="width: 23rem;">
                    <img src="/images/prenotazioni.jpg.webp" class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title">Gestione Prenotazioni</h5>
                        <a href="/dashboard/prenotation" class="btn btn-primary">Enter</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="card" style="width: 23rem;">
                    <img src="/images/utenti.png" class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title">Gestione Utenti</h5>
                        <a href="/dashboard/user" class="btn btn-primary">Enter</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="card" style="width: 21rem;">
                    <img src="/images/pagamento.png.webp" class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title">Gestione Pagamenti</h5>
                        <a href="/dashboard/payment" class="btn btn-primary">Enter</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row m-3">
            <div class="col-sm-12">
                <div class="card" style="width: 21rem;" >
                    <img src="/images/taxim.jpeg" class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title">Gestione Taxi</h5>
                        <a href="/dashboard/taxi" class="btn btn-primary">Enter</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container p-5 text-center">
        <div class="row m-3">
            <a href="/logout">Logout</a>
        </div>
    </div>
</center>
