<form method="get" action="/dashboard/taxi/delete/{{data.id}}">
    <div class="container p-5">
        <div class="row m-3">
               <h3>Sei sicuro di voler cancellare l'elemento {{data.nome}} ?</h3>
        </div>
        <div class="row m-3">
            <div class="col-3">
                <button class="btn btn-danger mt-5">Yes</button>
            </div>
            <div class="col-3">
                <a href="/dashboard/taxi">Back</a>
            </div>
        </div>
    </div>
</form>



