<h2 class="m-3 text-center">Insert Taxi</h2>
<div class="container text-center">
  <div class="row m-3">
    <form class="row g-3" method="post" action="/dashboard/taxi">
      <div class="col-md-6">
        <label for="nome" class="form-label">Nome</label>
        <input type="text" class="form-control" id="nome" name="nome" required>
      </div>
      <div class="col-md-6">
        <label for="targa" class="form-label">Targa</label>
        <input type="text" class="form-control" id="targa" name="targa" required>
      </div>
      <div class="col-md-6">
        <label for="modello" class="form-label">Modello</label>
        <input type="text" class="form-control" id="modello" name="modello" required>
      </div>
      <div class="col-md-6">
        <label for="descrizione" class="form-label">Descrizione</label>
        <input type="text" class="form-control" id="descrizione" name="descrizione" required>
      </div>
      <div class="col-12">
        <button class="btn btn-warning mt-5">Insert</button>
      </div>
    </form>
  </div>
</div>