<h2>Update Taxi</h2>
<form class="row g-3" method="post" action="/dashboard/taxi/">
  <div class="col-md-6">
    <label for="nome" class="form-label">Nome</label>
    <input type="text" class="form-control" id="nome">
  </div>
  <div class="col-md-6">
    <label for="targa" class="form-label">Targa</label>
    <input type="text" class="form-control" id="targa">
  </div>
  <div class="col-md-6">
    <label for="mdoello" class="form-label">Modello</label>
    <input type="text" class="form-control" id="modello">
  </div>
  <div class="col-md-6">
    <label for="descrizione" class="form-label">Descrizione</label>
    <input type="text" class="form-control" id="descrizione">
  </div>
  <div class="col-12">
    <button type="submit" class="btn btn-warning">Update</button>
  </div>
</form>