<div class="limiter">
    <div class="container-login100" style="background-image: url('images/bg-01.jpg');">
        <div class="wrap-login100 p-t-30 p-b-50">
            <span class="login100-form-title p-b-41">
                Sign Up
            </span>
            <h6 class="text-white align-items-center">{{message}}</h6>
            <form class="login100-form validate-form p-b-33 p-t-5" method="post" action="/signup">
                <div class="wrap-input100 validate-input">
                    <input class="input100" type="text" name="name" placeholder="Name" required>

                </div>
                <div class="wrap-input100 validate-input">
                    <input class="input100" type="text" name="surname" placeholder="Surame" required>

                </div>

                <div class="wrap-input100 validate-input" data-validate = "Enter username">
                    <input class="input100" type="email" name="username" placeholder="Your email" required>

                </div>
                <div class="wrap-input100 validate-input">
                    <input class="input100" type="text" name="codFiscale" placeholder="Codice Fiscale" required>

                </div>

                <div class="wrap-input100 validate-input" data-validate="Enter password">
                    
                    <input class="input100" type="password" name="newpassword" placeholder="New Password" onclick="myFunction()" id="newpassword" required>
                </div>
                <div class="wrap-input100 validate-input" data-validate="Enter password">
                    <input class="input100" type="password" name="passwordrepeat" placeholder="Repeat Password" id="passwordrepeat" required>

                </div>

                <div class="container-login100-form-btn m-t-32">
                    <button class="login100-form-btn">
                        Sign up
                    </button>
                </div>

            </form>
        </div>
    </div>
</div>


